<footer class="footer">
  <nav class="soc-nets">
    <ul>
      <li><a href="#"><img src="https://clothing-shop-5n2c.onrender.com/img/insta.jpg"></a></li>
      <li><a href="#"><img src="https://clothing-shop-5n2c.onrender.com/img/facebook.jpg"></a></li>
      <li><a href="#"><img src="https://clothing-shop-5n2c.onrender.com/img/vk.jpg"></a></li>
      <li><a href="#"><img src="https://clothing-shop-5n2c.onrender.com/img/linkedIn.jpg"></a></li>
      <li><a href="https://open.spotify.com/playlist/37i9dQZF1DX0XUsuxWHRQd?si=cfaa096bd9df439f">
        <img src="https://clothing-shop-5n2c.onrender.com/img/spotify.jpg">
      </a></li>
      <li><a href="https://www.youtube.com/watch?v=G1IbRujko-A">
        <img src="https://clothing-shop-5n2c.onrender.com/img/youtube.jpg">
      </a></li>
    </ul>
  </nav>
</footer>