<footer class="footer">
  <nav class="soc-nets">
    <ul>
      <li><a href="#"><img src="img/insta.jpg"></a></li>
      <li><a href="#"><img src="img/facebook.jpg"></a></li>
      <li><a href="#"><img src="img/vk.jpg"></a></li>
      <li><a href="#"><img src="img/linkedIn.jpg"></a></li>
      <li><a href="https://open.spotify.com/playlist/37i9dQZF1DX0XUsuxWHRQd?si=cfaa096bd9df439f"><img
        src="img/spotify.jpg"></a></li>
      <li><a href="https://www.youtube.com/watch?v=G1IbRujko-A"><img src="img/youtube.jpg"></a></li>
    </ul>
  </nav>
  <div style="color: #FFFFFF">
    <p>Response time: {{time}} ms</p>
  </div>
</footer>