<header class="header">
  <div class="logo">
    <h1>created-by-pavel</h1>
  </div>
  <nav class="menu">
    <menu>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com" class="nav-link">Home</a>
      </li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/products/page/1" class="nav-link">Store</a>
      </li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/about" class="nav-link">About
        us</a></li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/contact"
                              class="nav-link">Contacts</a></li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/addProduct"
                              class="nav-link">Add product</a></li>
    {{#if loginStatus.isLogged}}
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/profile" class="nav-link"> my account </a></li>
    {{else}}
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/login" class="nav-link">login</a></li>
    {{/if}}
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/cart" class="nav-link">
        <img src="https://clothing-shop-5n2c.onrender.com/img/cart.png" width="30px"></a>
      </li>
    </menu>
  </nav>
  <div class="toggle-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>

<script type="text/javascript" src="/js/menu.js"></script>
