<header class="header">
  <div class="logo">
    <h1>created-by-pavel</h1>
  </div>
  <nav class="menu">
    <menu>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/products/page/1" class="nav-link">Store</a></li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/about" class="nav-link">About us</a></li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/contact" class="nav-link">Contacts</a></li>
      <li id="profile-li" class="nav-item"><a id="profile-link" href="https://clothing-shop-5n2c.onrender.com/user/profile" class="nav-link">Profile</a></li>
      <li id="login-li" class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/login" class="nav-link">Login</a></li>
      <li class="nav-item"><a href="https://clothing-shop-5n2c.onrender.com/cart" class="nav-link">
        <img src="https://clothing-shop-5n2c.onrender.com/img/cart.png" width="30px"></a>
      </li>
    </menu>
  </nav>
  <div class="toggle-menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const userId = localStorage.getItem('userId');
    const profileLink = document.getElementById("profile-link");
    const loginLi = document.getElementById("login-li");
    const profileLi = document.getElementById("profile-li");
    if (userId) {
      loginLi.style.display = "none";
      profileLi.style.display = "block";
      profileLink.href = `https://clothing-shop-5n2c.onrender.com/user/profile/${encodeURIComponent(userId)}`;
    } else {
      loginLi.style.display = "block";
      profileLi.style.display = "none";
    }
  });
</script>
