<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add product - created-by-pavel</title>
    <link rel="stylesheet" href="/css/addProduct.css" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="created-by-pavel. The official website of created-by-pavel. EST 2022. SPB"/>
    <meta name="google" content="notranslate"/>
    <meta name="keywords" content="created-by-pavel, clothes, store, shop, online store, buy clothes, stylish clothes"/>
</head>

<body>
<div id="wrapper">
    {{> header}}
    <main class="main">
        <div id="addForm">
            <form id= "addProductForm">
                <div class="addForm__filed">
                    <label for="name">product name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="addForm__filed">
                    <label for="description">product description</label>
                    <textarea id="description" name="description" required></textarea>
                </div>
                <div class="addForm__filed">
                    <label for="price">product price</label>
                    <input type="text" id="price" name="price" required>
                </div>
                <div class="addForm__filed">
                    <label for="images">images urls</label>
                    <input type="text" id="images" name="images" required/>
                </div>
                <div id="addForm__send-button">
                    <button type="submit">send</button>
                </div>
            </form>
        </div>
    </main>
    <script src="/js/send_addProduct_form.js"></script>
    {{> footer}}
</div>
</body>
</html>