<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>created-by-pavel</title>
  <link rel="stylesheet" href="css/profile.css" type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="created-by-pavel. The official website of created-by-pavel. EST 2022. SPB"/>
  <meta name="google" content="notranslate"/>
  <meta name="keywords" content="created-by-pavel, clothes, store, shop, online store, buy clothes, stylish clothes"/>
</head>

<body>
<div id="wrapper">
 {{> header}}
  <main class="main">
    <div id="left">
      <div id="helloMessage">
        <h2>YOUR PERSONAL DASHBOARD</h2>
        <p>Welcome John. Here you can keep track of your recent activity, request returns and exchange as well as
          view and edit your account</p>
      </div>
      <div id="info">
        <div id="top">
          <p>YOUR PERSONAL INFORMATION</p>
          <span><a href="#">Edit</a> / <a href="#">Change Password</a></span>
        </div>
        <div id="dashboard">
        </div>
      </div>
    </div>
    <div id="right">
      <ul>
        <li><a href="#">YOUR PERSONAL DASHBOARD</a></li>
        <li><a href="#">ADDRESS BOOK</a></li>
        <li><a href="#">ORDERS AND RETURNS</a></li>
        <li><a href="#">PAYMENT METHODS</a></li>
        <li><a href="#">LOG OUT</a></li>
      </ul>
    </div>
  </main>
  {{> footer}}
</div>
</body>
</html>