<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/store.css" type="text/css"/>
    <title>Store - created-by-pavel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="created-by-pavel. The official website of created-by-pavel. EST 2022. SPB"/>
    <meta name="keywords" content="created-by-pavel, clothes, store, shop, online store, buy clothes, stylish clothes"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js" defer></script>
    <script src="/js/store_animation.js" defer></script>
</head>

<body>
<div id="wrapper">
    {{> header}}

    <main class="main">
        <div id="store-wrapper">
        {{#each viewData}}
          <div class="product">
            <a href="https://crbpavel.onrender.com/products/{{id}}"><img src="{{images.[0].imageUrl}}" alt="{{name}} Image"></a>
          </div>
        {{/each}}
        </div>
        <div class="coords">
            <p>GET.COORDINATES</p>
            <p>GET.ENJOYED</p>
            <span class="x">0</span> / <span class="y">0</span><br>
            <p>\</p>
        </div>
      <div id="page-buttons">
        <button id="previous">&lt</button>
        <button id="next">&gt</button>
      </div>
    </main>
    <script type="text/javascript" src="/js/coordinates.js"></script>
    <script src="/js/next_previous_buttons.js"></script>
    {{> footer}}
</div>
</body>
</html>