* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #000;
    height: 100%;
    color: #ffffff;
    font-family: Courier, monospace;
    font-size: 14px;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a, li {
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
}

.nav-link {
    transition: 0.7s ease;
    font-size: 14px;
}

.nav-item {
    margin-left: 15px;
}

.nav-link:hover {
    color: red;
}

.header {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 8%;
}

.toggle-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.logo {
    background-color: red;
    cursor: pointer;
    margin-right: 2%;
}

h1 {
    color: red;
    font-size: 22px;
    background-color: #FFFFFF;
}

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    flex: 1 1 auto;
    display: flex;
    padding: 0 7%;
}

#contacts__title {
    width: 100%;
    font-size: 2em;
    margin-bottom: 7%;
}

#contacts__title span {
    color: red;
}

#contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    flex-direction: column;
}

#contacts__desc {
    width: 100%;
    font-size: 1.1em;
}

#contacts__desc p {
    margin-bottom: 7%;
}

#contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

form {
    margin: 0 auto;
    width: 100%;
    padding: 1em;
}

#contact-form__inline-body {
    display: flex;
    margin-bottom: 20px;
}

#contact-form__field1 {
    width: 50%;
}

#contact-form__field2 {
    margin-left: 20px;
    width: 50%;
}

label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 5%;
}

input, textarea {
    font: 1em sans-serif;
    height: 1.6em;
    width: 100%;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

textarea {
    vertical-align: top;
    height: 7em;
    resize: vertical;
}

#contact-form__send-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    background-color: red;
    font-size: 0.75em;
    border: 0;
    height: 25px;
    width: 70px;
}

#map {
    width: 100%;
    height: 30vh;
}

.soc-nets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-nets li {
    display: inline-block;
}

.soc-nets img {
    width: 45px;
    height: 45px;
}

@media screen and (max-width: 776px) {

    .body {
        font-size: 16px;
    }

    .header {
        justify-content: space-between;
    }

    .toggle-menu {
        display: block;
    }

    .toggle-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    menu {
        flex-direction: column;
    }

    .menu {
        z-index: 3;
        background-color: #000;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
        z-index: 3;
    }

    .menu.active {
        left: 0;
    }
}