* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #000;
    height: 100%;
    color: #FFFFFF;
    font-family: Courier, monospace;
    font-size: 14px;
}

a, li {
    text-decoration: none;
    list-style: none;
}

#wrapper {
    padding: 0 10%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer {
    flex: 0 0 auto;
}

.carousel {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.slides {
    width: 50%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slides-item {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    justify-content: center;
    margin: 0 1rem;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
}

.slider-nav {
    align-items: center;
    color: #fff;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .4rem;
    text-decoration: none;
    width: 1rem;
}

.slider-nav:hover,
.slider-nav:active {
    background-color: red;
}

.slide-1 img, .slide-2 img, .slide-3 img, .slide-4 img {
    width: 100%;
    height: 100%;
}

.carousel__skip-link {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.carousel__skip-link:focus {
    align-items: center;
    background-color: #000;
    color: #fff;
    display: flex;
    font-size: 30px;
    height: 680px;
    justify-content: center;
    opacity: .8;
    text-decoration: none;
    width: 100%;
    z-index: 1;
}

#item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#item-body__description {
    width: 50%;
    padding: 1% 3%;
    font-size: 1em;
}

#item-body__logo {
    cursor: pointer;
    font-size: 0.9em;
    background-color: #FFFFFF;
}

#item-body__logo h1 {
    color: red;
}

#item-body__buy-button {
    width: 20%;
}

#item-body__buy-button button {
    margin-left: 5px;
    width: 30%;
    padding: 2px;
    cursor: pointer;
    font-size: 16px;
    background-color: red;
    color: #000;
    font-weight: bold;
}

#item-body__buy-button button:before {
    content: attr(text);
}

#item-body__buy-button button:hover::before {
    content: attr(hover-text);
    font-size: 18px;
}

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.popup.open {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease 0s;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    transition: all 0.8s ease 0s;
}

.popup__title {
    font-size: 40px;
    margin: 0 0 1em 0;

}

@media screen and (max-width: 1056px) {
    #item-body__description {
        padding: 2% 1%;
        width: 55%;
    }

    #item-body__buy-button {
        width: 7%;
    }

    #item-body__buy-button button {
        width: 100%;
    }

    #wrapper {
        padding: 0 7%;
    }
}

@media screen and (max-width: 776px) {
    .slides {
        width: 80%;
    }

    #item-body {
        flex-direction: column;
        padding-bottom: 3%;
    }

    #item-body__description {
        text-align: center;
        width: 75%;
    }

    #item-body__buy-button {
        width: 15%;
        margin-top: 12px;
    }
}
