* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    height: 100%;
    font-family: Courier, monospace;
    font-size: 16px;
}

#wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a, li {
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
}

.nav-link {
    transition: 0.7s ease;
    font-size: 14px;
}

.nav-item {
    margin-left: 15px;
}

.nav-link:hover {
    color: red;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
}

.toggle-menu {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.logo {
    background-color: red;
    cursor: pointer;
}

h1 {
    color: red;
    font-size: 22px;
    background-color: #FFFFFF;
}

menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 1px solid #fff;
    flex-basis: 33.3%;
    transition: all 0.2s;
}

.item span {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: center;
}

.item:hover {
    flex-basis: 80%;
}

.item-1 {
    background: url("../img/bomber.png") no-repeat center center;
    background-size: cover;
}

.item-2 {
    background: url("../img/winter.png") no-repeat center center;
    background-size: cover;
}

.item-3 {
    background: url("../img/autumn.png") no-repeat center center;
    background-size: cover;
}

.coords {
    text-align: right;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: 20px;
    top: 76%;
}

.soc-nets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.soc-nets li {
    display: inline-block;
}

.soc-nets img {
    width: 45px;
    height: 45px;
}


@media screen and (max-width: 796px) {
    .toggle-menu {
        display: block;
    }

    .toggle-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    menu {
        flex-direction: column;
    }

    .menu {
        z-index: 3;
        background-color: #000;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
        z-index: 3;
    }

    .menu.active {
        left: 0;
    }

    .slider {
        width: 100%;
        height: 90vh;
        flex-flow: column;
    }

    .item {
        width: 100%;
        flex-basis: 100%;
    }

    .item:hover {
        flex-basis: 100%;
    }

    .coords {
        display: none;
    }
}